{% extends 'main.html' %}


{% block content %}
<main id="main">
       <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/section_bg01.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <h1 class="mb-3 font-weight-bold body-font">اطلب خدمة</h1>
              <p><a href="{% url 'home-page' %}" class="body-font">الرئيسيه</a> <span class="mx-3">/</span> <strong> عن باوهاوس </strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>
        <section id="about" class="about">
            <div class="container">
                             <div class="section-title">
          <h2 class="body-font text-mandigo"> إطلب خدمة </h2>
        </div>
                            <div class="row">
<div class="col-md-12">
    <div class="card">
    <div class="card-body">
           <center>
                            <form  method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                                <div id="hide">

                                </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control body-font" id="name" placeholder="الأسم"
                                       data-rule="minlen:4" data-msg="الأسم"/>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                  <input type="text" name="color" class="form-control body-font"  id="color" placeholder="اللون المفضل"
                                       data-rule="minlen:4" data-msg=""/>
                                <div class="validate"></div>
                            </div>
                        </div>
<div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <input type="text" name="age" class="form-control body-font"  id="age" placeholder="المدينه"
                                       data-rule="minlen:4" data-msg=""/>

                                <div class="validate"></div>
                            </div>

</div>
                        <div class="form-group">

                            <input type="text" class="form-control body-font" name="address" id="address" placeholder="المنطقه"
                                   data-rule="minlen:4" data-msg="العنوان"/>
                            <div class="validate"></div>
                        </div>


                        <div class="form-group">
                              <input type="email" class="form-control body-font" name="email" id="email"
                                       placeholder="البريد الألكترونى" data-rule="البريد الألكترونى"
                                       data-msg="البريد الألكترونى"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                  <input type="text" name="phone" class="form-control body-font" id="phone" placeholder="الهاتف"
                                       data-rule="minlen:4" data-msg="الهاتف"/>
                                <div class="validate"></div>
                            </div>
                        </div>
      <div class="form-group">
                            <textarea class="form-control body-font" id="about" name="about" rows="5" data-rule="required"
                                      data-msg="نبذه عن نفسك" placeholder="نبذه عن مشروعك"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="text-center">
                  <input type="submit" value="إنشاء" class="btn btn-mandigo body-font text-white"/>
                        </div>
                    </form>
   </center>
    </div>
</div>

</div>
                </div>
            </div>
        </section>

</main>



{% endblock content %}
{% block javascript %}
<script>
var ser_id;
$(() =>{
    ser_id = sessionStorage.getItem('ser_id')
    console.log(ser_id)
$("#hide").append(`
<input type="hidden" name="ser"  id="ser" value="${ser_id}">
`)
})
</script>

{% endblock javascript %}