{% load static %}

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <a href="{% url 'home-page' %}" class="logo mr-auto"><img src="{% static 'images/main_logo.png' %}"  ></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a class="google-plus" href="https://wa.me/966581915102/"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a></li>
                        <li class="body-font"> <a href="{% url 'contact-page' %}" class="body-font">تواصل معنا</a></li>
  {% if request.user.user_type !=  1 and  request.user.user_type !=  2 and request.user.user_type !=  3 %}
                    <li  class="body-font"><a href="{% url 'register-customer' %}" class="body-font" >إنشاء حساب</a></li>
                {% endif %}
  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle body-font" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الصفحه الشخصيه
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{% url 'user-detail' %}" class="body-font" >الملف الشخصى</a>
                         <a href="{% url 'logout' %}" class="body-font">خروج</a>
                            {% if request.user.user_type == 3 %}
                                 <div class="dropdown-divider"></div>
                         <a href="{% url 'engineer-online-list' %}" class="body-font"> المهندسين</a>

                            {% endif %}



                        </div>
                    </li>
                    {% if request.user.user_type is None %}
                    <li class="body-font"><a href="{% url 'login' %}" class="body-font">تسجيل الدخول</a></li>
                {% endif %}
              {% if request.user.user_type ==  3 %}
                    <li class="body-font"><a href="" class="body-font"> اطلب خدمتك</a></li>

                {% endif %}
                        <li class="body-font"><a href="{% url 'faq-questions' %}" class="body-font">الأسئله المتكرره</a></li>
                <li class="body-font"><a href="#" class="body-font">عن باوهاوس</a></li>
                <li class="active body-font"><a href="{% url 'home-page' %}" class="body-font"> الرئيسيه</a></li>

{#            </ul>#}



            </ul>
        </nav>

    </div>
</header>