{% load static %}

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <a href="{% url 'home-page' %}" class="logo mr-auto"><img src="{% static 'images/main_logo.png' %}"  ></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active body-font"><a href="{% url 'home-page' %}" class="body-font"> الرئيسيه</a></li>
                <li class="body-font"><a href="#" class="body-font">عن باوهاوس</a></li>
                <li class="body-font"><a href="{% url 'faq-questions' %}" class="body-font">الأسئله المتكرره</a></li>
                {% if request.user.user_type ==  3 %}
                    <li class="body-font"><a href="" class="body-font"> خدماتنا</a></li>

                {% endif %}
                {% if request.user.user_type is None %}
                    <li class="body-font"><a href="{% url 'login' %}" class="body-font">تسجيل الدخول</a></li>
                {% endif %}
                {% if request.user.user_type !=  1 and  request.user.user_type !=  2 and request.user.user_type !=  3 %}
                    <li  class="body-font"><a href="{% url 'register-customer' %}" class="body-font" >إنشاء حساب</a></li>
                {% endif %}
                {% if  request.user.user_type ==  3 %}
                    <li  class="body-font"><a href="" class="body-font">راسلنا</a></li>
                {% endif %}
                <li class="drop-down body-font"><a class="body-font" href="#">الصفحه الشخصيه</a>
                    <ul>
                        {% if request.user.user_type ==  1 or  request.user.user_type ==  2 or request.user.user_type ==  3 or request.user.user_type ==  4 %}
                            <li  class="body-font"><a href="{% url 'user-detail' %}" class="body-font" >الملف الشخصى</a></li>
                            {% if request.user.user_type ==  1 or  request.user.user_type ==  2 or request.user.user_type ==  3 %}
                                <li  class="body-font"><a href="{% url 'logout' %}" class="body-font">خروج</a></li>
                            {% endif %}
                        {% endif %}
                        {% if request.user.user_type ==  3  %}
                            <li class="drop-down body-font"><a class="body-font" href="#">إدارة الحساب</a>
                            <ul>

                    <li class="body-font"><a href="{% url 'engineer-online-list' %}" class="body-font"> المهندسين</a></li>
                    <li  class="body-font"><a href="{% url 'contact-page' %}" class="body-font">اتصل بنا</a></li>
                                <li  class="body-font"><a href="{% url 'request-customer-work-list' %}" class="body-font">الطلبات المقدمه</a></li>

                            </ul>
                        {% endif %}

                        </li>

                    </ul>
                </li>
                <li><a href=https://wa.me/966549858385/"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>

            </ul>
        </nav>

    </div>
</header>