{% extends 'main.html' %}



{% block title %}الأسئله المتكرره  {% endblock title %}

{% block content %}
    <main id="main">
        <div class="ftco-blocks-cover-1">
            <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
                 style="background-image: url('../../../static/images/section_bg01.png')">
                <div class="container">
                    <div class="row align-items-center ">

                        <div class="col-md-5 mt-5 pt-5">
                            <h1 class="mb-3 font-weight-bold body-font">  الأسئله المتكرره  </h1>
                            <p><a href="{% url 'home-page' %}" class="body-font text-white">الرئيسيه</a> <span
                                    class="mx-3">/</span> <strong> الأسئله المتكرره </strong></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
 <section  id="faq" class="faq">
         <div class="container">

        <div class="section-title">
          <h2 class="body-font text-mandigo">الأسئله المتكرره </h2>
        </div>
 <ul class="faq-list">

          <li>
            <a data-toggle="collapse" class="body-font text-mandigo" href="#faq1">ما معنى مكتب هندسي الكترونى؟<i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p class="body-font">
هو مكتب هندسي يقدم جميع خدماته التصميمية لعملاؤه الكرام عبر شبكة المعلومات الدولية أى أن جميع التعاملات مع العملاء تتم عبر شبكة الإنترنت من أى مكان فى العالم
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed body-font text-mandigo">كيف يعمل مكتب باهاوس الهندسي ؟ كأول مكتب هندسي إلكتروني ؟<i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p class="body-font">
                  كيف يعمل مكتب باهاوس يعمل المكتب عبر خطوات بسيطه محدده وهى
التواصل مع المكتب عن طريق احدى الطرق المعلنه فى صفحة للاتصال بنا او الصفحه الرئيسيه للموقع
من اى مكان فى العالم و باى وسيلة اتصال عبر الانترنت
املاء الاستماره الخاصه بطلب مشروعك و ادخل بياناتك و بيانات مشروعك
سيتم ارسال بريد الكترونى خلال 48 ساعه به عرض فنى و مالى لمشروع سيادتكم
يتم ارسال تعاقد عبر البريد الاكترونى لتوقيعه من قبل سيادتكم للبدء بالمشروع
يمكنكم متابعة مشروعكم لاحقا بشكل كامل عن طريق الانترنت
او يمكنكم الاتصال بنا هاتفيا بمنتهى البساطه

              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed body-font text-mandigo">مع من سأتواصل ؟
 <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p class="body-font">
                  يوجد بمكتب باهاوس الهندسي خدمة عملاء من مهندسين متخصصين لاستقبال طلبات تفهم متطلبات سيادتكم مع تقديم النصحيه فى أى أمور تتعلق بمشروع عملائنا الكرام

              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed  body-font text-mandigo ">هل يوجد مهندسات للتواصل مع العملاء من النساء ؟
 <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p class="body-font">
                  يوجد لدينا عدد من المهندسات بخدمة العملاء الاتى يتشرفن بتقديم كل العون لعملائنا من النساء و ذلك تفهما منا للعادات و التقاليد المعمول بها بوطننا العربى من جه و لراحه عملائنا من النساء من جهه اخريربى من جه و لراحه عملائنا من النساء من جهه اخرى

              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed body-font text-mandigo">ما هي الدول التي يتعامل معها مكتب باهاوس الهندسي ؟
<i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p class="body-font">
                  يتعامل مكتب باهاوس بجميع الدول العربيه و خصوصا الخليجيه .

              </p>
            </div>
          </li>


               <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed body-font text-mandigo">من هم عملاء مكتب باوهاوس الهندسي ؟
<i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p class="body-font">
يتعامل مكتب باهاوس الهندسي . مع جميع فئات العملاء من افراد و مكاتب و شركات و مقاولين

              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed body-font text-mandigo">هل مكتب باهاوس الهندسي له وجود فعلي غير تواجدة على موقع الانترنت ؟
<i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p class="body-font">
نعم ,مكت باهاوس مسجل بالمملكة العربية السعودية  و له كيان قانونى و مقر معلن بالرياض  كما ان جميع مهندسين مقيدين بنقابة المهندسين السعودية  و لهم خبره لا تقل عن 5 سنوات بتخصصاتهم بدول الخليج و لهم درايه كامله بقوانين و اشطراطات البلديات المختلفه

              </p>
            </div>
          </li>



        </ul>
         </div>
 </section>



    </main>


{% endblock content %}