{% extends 'main.html' %}


{% block title %}  باهاوس || الصفحه الرئيسيه{% endblock title %}

{% load  static %}

{% block content %}
     <section id="hero">
    <div class="hero-container">
      <h3 class="body-font">مابين الفكرة والتنفيذ</h3>
              <h1 class="aida_font text-mandigo"> <strong>باهاوس </strong></h1>
      <h3 class="body-font"> إلهام وإنسان</h3>
    </div>
  </section>
  <main id="main">
<section id="about" class="about ">
      <div class="container ">
        <div class="section-title">
          <h2 class="body-font head-size">عن باهاوس</h2>
          <h3 class="body-font text-black-50"><span>              باوهاوس شبكة المهندسين والمهنيين والهاوين في مجال الهندسة المعمارية
</span></h3>
          <p class="body-font head-size" style="direction: rtl;"  >
                ويهدف باوهاوس إلى:

          </p>

        </div>

        <div class="row content">

          <div class="col-lg-6">

            <ul>
              <li class="body-font sub-size"><i class="ri-check-double-line"></i>  أنسنة العمل المعماري والهندسي</li>
              <li class="body-font sub-size"><i class="ri-check-double-line" ></i> تبسيط الفكرة والمفهوم</li>
              <li class="body-font sub-size"><i class="ri-check-double-line"></i>  نجعل المجال أكثر متعة ووضوح للمستهلك</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
                 <ul>
              <li class="body-font sub-size"><i class="ri-check-double-line"></i>نعمل معك وفق ميزانيتك</li>
              <li class="body-font sub-size"><i class="ri-check-double-line"></i> تبسيط الفكرة والمفهومنعمل معك وفق ميزانيتك</li>
              <li class="body-font sub-size"><i class="ri-check-double-line"></i> نساهم في توطين المجال</li>
                     <li class="body-font sub-size"><i class="ri-check-double-line"></i>مجال خصب لنقل المعرفة والتجربة للمبتدئين</li>

            </ul>
          </div>
        </div>

      </div>
    </section>


<section id="req" class="req">
      <div class="container">

        <div class="text-center">
          <h3 class="body-font head-size">اطلب خدمتك</h3>
          <p class="body-font sub-size"> انضم لشبكة عملائنا المميزين.</p>
          <a class="cta-btn body-font" href="{% url 'services-all' %}">اطلب خدمه</a>
        </div>

      </div>
    </section>

   <section id="team" class="team">
      <div class="container">

        <div class="section-title" id="eng">
          <h2 class="body-font head-size">فريقنا</h2>
          <h3 class="body-font">  افضل مهندسين هذا الشهر</h3>
        </div>

        <div class="row">

       {% if bests.count == 0  or bests.count > 6 %}
               <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/team1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="body-font">أماني الشعلان</h4>
                <span class="body-font">Chief Executive Officer</span>
              </div>
            </div>
          </div>
               <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/team1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="body-font"> سميه عبد الله</h4>
                <span class="body-font">Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/team1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="body-font">فاطمه أبو القاسم</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'images/team1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="body-font">شذى السعيد</h4>
                <span class="body">CTO</span>
              </div>
            </div>
          </div>
           {% else %}
           {% for best in bests %}
{% for eng in best.engineer.all %}
                   <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static eng.profile_pic.url  %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="body-font">{{ eng.first_name }} {{ eng.last_name }}</h4>
                <span class="body-font">مهندس</span>
              </div>
            </div>
          </div>

    {% endfor %}
{% endfor %}
       {% endif %}

        </div>

      </div>
    </section>
      <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3 class="body-font head-size">ابدأ رحلتك معنا</h3>
          <p class="body-font sub-size"> انضم لشبكة المهندسين والمصممين.</p>
          <a class="cta-btn body-font" href="{% url 'register-outdoor' %}">إيدأ</a>
        </div>

      </div>
    </section>
<section id="contact" class="contact">
      <div class="container">
          <div class="row mt-5">

          <div class="col-lg-3">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <p class="body-font">الرياض السعوديه</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <p class="body-font">info@bauhaus.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <p class="body-font">966 58 191 5102</p>
              </div>

            </div>

          </div>
              <div class="col-lg-6">
<div class="card join">
    <div class="card-body justify-content-center">
        <center> <h5 class="body-font head-size text-mandigo">إنضم لشبكة عملاء باوهاوس</h5></center>
        <hr/>
                <center> <a class="btn btn-mandigo body-font text-white" href="{% url 'register-customer' %}">انضم</a></center>

    </div>
</div>
        </div>

      </div>
      </div>
</section>

  </main>

{% endblock content %}

{% block javascript %}

<script>
$(() => {
   $("#eng").on('click', event => {
      event.preventDefault();
      window.location.href = '{% url 'engineer-online-list' %}';
   });
});
</script>
{% endblock javascript %}